<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1>IMPERSONATOR 5000</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col form-floating" th:unless="${impersonation.subject == null}">
                <input id="impersonation-sub-claim" type="text" th:value="${impersonation.subject}" class="form-control"
                       disabled>
                <label for="impersonation-sub-claim">Current Subject</label>
            </div>
            <div class="col form-floating" th:unless="${impersonation.agilityUsername == null}">
                <input id="impersonation-username" type="text" th:value="${impersonation.agilityUsername}"
                       class="form-control" disabled>
                <label for="impersonation-username">Currently Impersonating</label>
            </div>
        </div>
        <form th:action="@{/impersonation}" th:object="${impersonation}" method="post">
            <div class="row">
                <div class="form-floating col">
                    <input id="agilityUsername" type="text" th:field="*{agilityUsername}" class="form-control">
                    <label for="agilityUsername">Agility Username to Impersonate</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <p class="float-end">
                    <a href="/token">View Token</a>
                    <a href="/logout">Logout</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>